app = "seksbotsters"
primary_region = "sjc"

[build]

[env]
RAILS_ENV = "production"
RAILS_LOG_TO_STDOUT = "true"
RAILS_SERVE_STATIC_FILES = "true"
DATABASE_HOST = "seksbotsters-db.flycast"

[http_service]
internal_port = 3000
force_https = true
auto_stop_machines = "stop"
auto_start_machines = true
min_machines_running = 0

[http_service.concurrency]
type = "connections"
hard_limit = 25
soft_limit = 20

[[vm]]
memory = "512mb"
cpu_kind = "shared"
cpus = 1
